extends layout

block content
    .container-fluid.text-center
        iframe#asistantiframe(src='https://webchat.botframework.com/embed/company-bot?s=BKtMDrqs2Kc.cwA.tBg.kiYukVMCLcVySGzyDAt6FCJy_4gcK2EeHOY6JOjT26A')