
html
  head
    title= title
    noscript
      meta(http-equiv='refresh', content='0; URL=/?noscript=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    #main
      block content